body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.title{
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #999;
}
#contryImg{
    padding: 0;
    width: auto;
}
.flag{
    width: 50%;
    height: 50%;
}